DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword
DATABASE_NAME=mydb
DATABASE_URL_PRIMARY="postgresql://myuser:mypassword@localhost:5432/mydb?schema=public"
DATABASE_URL_REPLICA_1="postgresql://myuser:mpassword@localhost:5433/mydb?schema=public"
DATABASE_URL_REPLICA_2="postgresql://myuser:mypassword@localhost:5434/mydb?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_strong_password
FRONTEND_URL=http://localhost:5173